#all{
    float: left;
    width: 33.3333%;
    text-align: center;
    
    background-color: #424242;
}
img {
    border: 4px solid black;
    width: 50%;
    border-radius: 100%;
    transition: 0.5s ease;
}

img:hover{
    transform: scale(1.3);
}

