.col-lg-4, .col-lg-8{
    padding-left: 0;
    padding-right: 0;
}

.col-lg-4{
    border-right: 4px solid black;
    height: 800px;
}

.container{
    background-color: #424242;
    min-height: 700px;
}

.tab{
    width: 100%;
    background-color: #424242;
    padding-top: 15px;
    padding-bottom: 15px;
    color : white;
    text-align: center;
}

.tab:hover{
    color:black;
    background-color: #626262;
}

@media only screen and (max-width: 992px) {
    .col-lg-4{
        border-right: none;
        border-bottom: 4px solid black ;
        height: auto;
    }
  }