.all {
  text-align: center;
  float: left;
  width: 33.3333333333333%;
  height: 300px;
  margin-bottom: 100px;
}
img {
  border-radius: 100%;
  border: 4px solid black;
  max-width: 100%;
  height: auto;
  cursor: pointer;
  transition: 0.5s ease;
}

img:hover {
  transform: scale(1.15);
}

h1 {
  color: white;
}

@media only screen and (max-width: 1200px) {
  .all {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) {
  .all {
    width: 100%;
  }
}
