<div class="container" *ngIf="episode">
  <div class="all">
    <h1>{{ episode.name }}</h1>
    <div class="row image">
      <div class="col-md-12 col-lg-6">
        <img src="{{ episode.img_url }}" />
      </div>
      <div class="col info">
        <p>Director: {{ episode.director }}</p>
        <p>Writer: {{ episode.writer }}</p>
        <p>Air Date: {{ episode.air_date }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="characters">
          <h1>Characters:</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="character-list" *ngIf="!isLoading">
        <app-mini-character
          *ngFor="let character of characters"
          [character]="character"
        ></app-mini-character>
      </div>
      <div id="loading"
        class="div"
        *ngIf="isLoading"
        
      >
        <app-loading></app-loading>
      </div>
    </div>
  </div>
</div>
