h1 {
  text-align: center;
  border-bottom: 3px black solid;
  padding-bottom: 5px;
  color: white;
}

p {
  font-size: 20px;
  color: white;
}

.all {
  background-color: #424242;
  margin-top: 10px;
  border: 4px black solid;
}

img {
  margin: 10px;
  border: 4px black solid;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.image{
  width: 100%;
  text-align: center;
}

.info{
  text-align: left;
  padding-left: 40px;
}

.characters {
  text-align: center;
}

#loading{
  text-align: center; 
  width: 100%; 
  min-height:1000px;
}


